

body {
    background-image: url("images/pexels-fwstudio-139311.jpg");
    
}



h1 {
    text-align: center;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

input[type="text"] {
    height: 30px;
}

input[type="number"] {
    height: 30px;
}

table {
    background-color: rgb(145, 106, 59);
    margin: 30px auto;
    padding: 10px;
    border-radius: 5%;
    border: 5px solid rgba(0, 0, 0, 0.5);
}

td, th
{
    width: 15vw;
    height: 10vh;
    
}

tr {
    background-color: lightgrey;
}

tr:nth-child(odd) {
    background-color: grey;
}

th
{
    background-color: rgba(134, 48, 48, 0.986);
    color: white;
}





.centerItemsInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupInput
{
    margin: 5px;
}

.removeButton {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(134, 48, 48, 0.986);
    border: 2px solid black;
    box-shadow: 2px 2px;

}

.removeButton:hover
{
    background-color: rgba(154, 68, 68, 0.986);
}

#addBookButton {
    height: 50px;
    width: 100px;
    font-size: 15px;
}

#popupAddBookButton {
    height: 50px;
    width: 100px;
    font-size: 15px;
    align-self: flex-end;
}

#control
{
    display: flex;
    margin: auto;
    min-width: fit-content;
    width: 50vw;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}

#popupForm
{  
    display: none;
    width: 30vw;
    margin: auto;
    flex-direction: column;
    background-color: lightgrey;
    border: 10px solid rgba(134, 48, 48, 0.986);
    box-shadow: 5px 5px 10px black;
}